* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    margin: 0 auto ;
    font-family: "VAG Rounded";

}

ul {
    list-style: none;
}

nav {
    padding: 8px 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 50px;
}

nav ul li {
    font-size: 19px;
}

nav button {
    background-color: #E31837;
    color: white;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    font-weight: 900;
}

.header--button {
    background-color: #EFBB40;
    color: white;
    border-radius: 25px;
    width: 200px;
    height: 50px; 
    font-weight: 900;
}
.header {
    background-color: rgb(227, 23, 54);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    height: 85svh;
}

.header--left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header--left h1 {
    font-size: 45px;
}

.header--left p {
    font-size: 19px;
    line-height: 1.5;
}

